altgraph==0.17.3
auto-py-to-exe==2.38.0
bottle==0.12.25
bottle-websocket==0.2.9
cffi==1.15.1
contourpy==1.1.0
cycler==0.11.0
Eel==0.16.0
et-xmlfile==1.1.0
fonttools==4.42.1
future==0.18.3
gevent==23.9.0.post1
gevent-websocket==0.10.1
greenlet==2.0.2
importlib-resources==6.0.1
kiwisolver==1.4.5
matplotlib==3.7.2
numpy==1.24.4
packaging==23.1
pandas==2.0.3
pefile==2023.2.7
Pillow==10.0.0
pycparser==2.21
pygame==2.5.1
pyparsing==3.0.9
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
python-dateutil==2.8.2
pytz==2023.3
pywin32-ctypes==0.2.2
six==1.16.0
tzdata==2023.3
whichcraft==0.6.1
zipp==3.16.2
zope.event==5.0
zope.interface==6.0
